body{
  background: $primery02 !important;
}
.navbar{
  background-color: $primery01 !important;
  a.nav-link{
    color:$primery06  !important;
    &:hover{
      color:$link-color !important; 
    }
  }
  a.navbar-brand{
    color:$primery06;
    &:hover{
      color:$link-color; 
    }
  }
}


.webix_el_combo span.webix_input_icon, 
.webix_el_richselect span.webix_input_icon, 
.webix_el_datepicker span.webix_input_icon, 
.webix_el_dbldatepicker span.webix_input_icon, 
.webix_el_colorpicker span.webix_input_icon, 
.webix_el_search span.webix_input_icon{
  background: url(/images/select-arrow.svg?49996c92f19455855c88b508ebe5c30e) no-repeat right #414957;
  background-size: 18px;
  background-position: 3px 12px;
  &::before{
    display: none;
  }
}



div#box2 {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;

  .webix_view.webix_calendar{
    background: $primery04;
    color: $primery06;

    .webix_cal_prev_button, .webix_cal_next_button{
      color: $primery06;
    }
    .webix_cal_body{
      .webix_cal_today{
        .webix_cal_day_inner{ background-color: $primery06;}
       
      }
      .webix_cal_event{
        color:$secondary02;
      }

      .webix_cal_outside{
        color:$primery01;
        background-color: $primery03;
      }
    }
  .webix_cal_header{
    div{
      color: $primery05;
   
    }
       }
     
  }

  .webix_cal_month{
    color: $primery06;
    .webix_cal_month_name{
      color: $primery06;
    }
  }
 
}



div#tree-table {
  width: 500px;
  height: auto !important;

  .webix_view.webix_tree {
    width: 100% !important;
    height: 100% !important;
    text-align: left;


    .webix_tree_folder {
      color: orange;
  }



  }
}

